.brand-banner{
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-banner img{
    width: 10%;
}

.Nokia-banner{
    background: rgb(249,250,252);
    background: linear-gradient(90deg, rgba(249,250,252,1) 0%, rgba(45,86,158,1) 100%)
}           


.Samsung-banner{
    background: rgb(168,189,208);
    background: linear-gradient(90deg, rgba(168,189,208,1) 0%, rgba(157,151,177,1) 100%)

}

.Xiaomi-banner{
    background: rgb(254,255,189);
    background: linear-gradient(90deg, rgba(254,255,189,1) 0%, rgba(255,165,89,1) 100%)
}

/*---------------------media queries------------------*/

@media (max-width:800px){
    .brand-banner img{
        width: 20%;
    }
}

@media (max-width:400px){
    .brand-banner img{
        width: 25%;
    }
}