.container-brands a{
    width: auto;
    height:15%;
    overflow: hidden;
    transition: 0.3s;   
}

.container-brands a img{
    height: 100%;
}

.container-brands a:hover{
    transform: scale(1.1);  
    z-index:1;
}