#sign-up-nav{
    z-index: 2;
}

#sign-up-body{
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5.5rem;

}

#title-form-btn{
    z-index: 1
}

#sign-up-form{
    width: 430px;
    height: auto;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 15%);
    border-radius: 5px;
    background:white;
    z-index: 1;
    padding: 2rem 2rem;
}